.popover {
    position: absolute;
    margin-left: 50px;
    margin-top: 15px;
    background-color: red;
    border: 3px solid;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;

    @keyframes fade {
        0% { opacity: 0; }
        10% { opacity: 1; }
        30% { opacity: 1; }
        100% { opacity: 0; }
    }    
}
